# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
release_output/
.metadata

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (personal project)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/build/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release

# Local configuration and logs
build_output.txt
*.bak
build_release.ps1

