name: "Package Application"
run-name: ${{ github.ref_type == 'tag' && format('Release {0}', github.ref_name) || format('Manual Build - {0}', github.event.head_commit.message) }}

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    tags:
      - 'w*'

jobs:
  build-android:
    name: Build Android APKs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Dependencies
        run: flutter pub get

      - name: Build Android APKs
        run: flutter build apk --split-per-abi

      - name: Rename APKs
        run: |
          mkdir release_output
          # Get version from pubspec.yaml
          VERSION=$(grep 'version:' pubspec.yaml | sed 's/version: //g' | sed 's/+.*//g' | xargs)
          echo "Detected Version: $VERSION"
          
          # Rename and move files
          mv build/app/outputs/flutter-apk/app-arm64-v8a-release.apk release_output/Aurora_Android_${VERSION}_arm64-v8a.apk
          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk release_output/Aurora_Android_${VERSION}_armeabi-v7a.apk
          mv build/app/outputs/flutter-apk/app-x86_64-release.apk release_output/Aurora_Android_${VERSION}_x86_64.apk

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-apks
          path: release_output/*.apk

  
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [build-android]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
